<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Marfrig.SqlConnection" connectionString="Data Source=DESKTOP-0S7H7AU\SQLEXPRESS;Initial Catalog=BancoTESTE;User ID=sa;Password=teste"
            providerName="System.Data.SqlClient" />
        <add name="Marfrig.Properties.Settings.SqlConnection" connectionString="Data Source=DESKTOP-0S7H7AU\SQLEXPRESS;Initial Catalog=BancoTESTE;User ID=sa;Password=teste"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>